*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

a:link {
  color: #43ee47; }

a:visited {
  color: #72f275; }

a:hover {
  color: #62cf65; }

a:active {
  color: #89f48c; }

body {
  color: #89db8b; }

html {
  background: #333a34;
  font-family: sans-serif;
  font-size: 62.5%;
  line-height: 1;
  min-width: 320px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal; }

footer {
  font-size: 1rem;
  margin-top: 2rem;
  padding-left: 1rem; }

header {
  background: #1b1f1c;
  padding: 1rem; }
  header > h1 {
    font-size: 3rem;
    text-transform: uppercase; }
    header > h1 > span {
      font-size: 1.2rem;
      text-transform: lowercase; }

.key {
  background: #c0cec0;
  border-bottom: 0;
  border-left: 1px solid #a3b8a4;
  border-radius: 0 0 0.85rem 0.8rem;
  border-right: 1px solid #a3b8a4;
  border-top: 0;
  color: #1b1f1c;
  cursor: pointer;
  display: inline-block;
  font-size: 0;
  min-width: 4rem;
  position: relative;
  -webkit-user-select: none; }
  .key:not(:first-child) {
    border-left-color: transparent; }
  .key::after {
    background: #89db8b;
    border-radius: 0 0 0.85rem 0.8rem;
    border-right: 1px solid #a3b8a4;
    content: '';
    display: block;
    height: 100%;
    left: -1px;
    opacity: 0;
    position: absolute;
    right: -1px;
    top: 0;
    transition: opacity 95ms ease-in; }
  .key:hover::after, .key[data-active=true]::after {
    opacity: 1;
    transition: none; }

.key-sharp {
  background: #1b1f1c;
  border-bottom: 0;
  border-left: 1px solid #a3b8a4;
  border-radius: 0 0 0.85rem 0.8rem;
  border-right: 1px solid #a3b8a4;
  border-top: 0;
  color: #c0cec0;
  cursor: pointer;
  display: inline-block;
  font-size: 0;
  min-width: 2.66667rem;
  position: relative;
  -webkit-user-select: none;
  position: absolute;
  vertical-align: top;
  z-index: 1; }
  .key-sharp:not(:first-child) {
    border-left-color: transparent; }
  .key-sharp::after {
    background: #2f9c32;
    border-radius: 0 0 0.85rem 0.8rem;
    border-right: 1px solid #a3b8a4;
    content: '';
    display: block;
    height: 100%;
    left: -1px;
    opacity: 0;
    position: absolute;
    right: -1px;
    top: 0;
    transition: opacity 95ms ease-in; }
  .key-sharp:hover::after, .key-sharp[data-active=true]::after {
    opacity: 1;
    transition: none; }

.keyboard {
  font-size: 0; }
  @media screen and (min-width: 0px) and (max-width: 959px) {
    .keyboard .key {
      height: calc(100vw / 2);
      width: calc(100% / 8); }
      .keyboard .key:nth-child(13) ~ .key,
      .keyboard .key:nth-child(13) ~ .key-sharp {
        display: none; }
    .keyboard .key-sharp {
      height: calc(60vw / 2);
      margin: 0 calc(-66.66667% / 16);
      width: calc(66.66667% / 8); } }
  @media screen and (min-width: 960px) {
    .keyboard .key {
      height: calc(50vw / 2);
      width: calc(100% / 15); }
      .keyboard .key:nth-child(25) ~ .key,
      .keyboard .key:nth-child(25) ~ .key-sharp {
        display: none; }
    .keyboard .key-sharp {
      height: calc(30vw / 2);
      margin: 0 calc(-66.66667% / 30);
      width: calc(66.66667% / 15); } }

.oscilloscope {
  margin: 2rem; }
  .oscilloscope canvas {
    background: #a3b8a4;
    box-shadow: inset 0 0.3rem 2.2rem -0.2rem #333a34;
    width: 100%; }

.program {
  align-items: stretch;
  background: #8ea580;
  color: #000;
  cursor: pointer;
  display: flex;
  position: relative; }
  .program > h2 {
    font-size: 0; }
  .program [data-cycle] {
    background: #333;
    border: 0;
    color: #89f48c;
    font-family: "source code pro", monospace;
    font-size: 0;
    height: 6.5rem;
    width: 6.5rem; }
    .program [data-cycle]::after {
      font-size: 5rem; }
  .program [data-cycle="-1"]::after {
    content: '<'; }
  .program [data-cycle="1"]::after {
    content: '>'; }
  .display {
    flex: 1;
    font-family: "source code pro", monospace;
    overflow: hidden;
    padding: 0 2rem;
    text-transform: uppercase;
    white-space: nowrap; }
    .display > h3 {
      font-size: 1.6rem;
      line-height: 4.0625;
      overflow: inherit;
      text-overflow: ellipsis; }
  .preset-bank {
    background: rgba(255, 0, 0, 0.8);
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    left: 0;
    margin: 0 6.5rem;
    overflow: scroll;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(6.5rem); }
    .preset-bank[data-state=closed] {
      cursor: default;
      opacity: 0;
      pointer-events: none; }
    .preset-bank[data-state=open] {
      z-index: 2; }
    .preset-bank button {
      background: #a3b8a4;
      border: 0;
      cursor: pointer;
      flex-shrink: 0;
      font-family: "source code pro", monospace;
      min-height: 5rem;
      outline: 1px solid #333a34;
      outline-offset: -2px;
      text-transform: uppercase;
      width: 100%; }

.ribbon {
  background-color: #62cf65;
  background-image: radial-gradient(#89db8b 2px, transparent 2px);
  background-size: 8px 8px;
  box-shadow: inset 0 0 10px -2px #1b1f1c;
  border-bottom: 0.7rem solid #2c322d;
  border-top: 0.8rem solid #1b1f1c;
  border-left: 0;
  border-right: 0;
  cursor: pointer;
  height: 9rem; }

.temp-hide {
  display: none; }

.module {
  margin: 2rem; }
  .module label {
    display: block;
    width: 100%; }
    .module label input {
      width: 100%; }

#harmonic-oscillator {
  margin: 8rem 2rem; }
  #harmonic-oscillator .knob-group {
    display: flex; }
  #harmonic-oscillator .knob {
    background: #090;
    display: flex;
    flex: 1;
    position: relative; }
  #harmonic-oscillator input[type=range] {
    background: linear-gradient(#333, #000);
    flex: 1;
    height: 6.5rem;
    position: relative;
    -webkit-appearance: none; }
  #harmonic-oscillator input[type=range]::-webkit-slider-thumb {
    background: #fff;
    cursor: pointer;
    height: 6.5rem;
    margin-top: 0;
    width: 6.5rem;
    -webkit-appearance: none; }
  #harmonic-oscillator label {
    background: radial-gradient(#000, #000), linear-gradient(#fff 50%, #fff 50%);
    background-size: 5px 20px, cover;
    background-position: top center;
    background-repeat: no-repeat, repeat;
    border: 5px solid #000;
    border-radius: 50%;
    color: #000;
    display: block;
    font-size: 0;
    height: 6.5rem;
    left: calc(100% - 13rem);
    pointer-events: none;
    position: absolute;
    transform: rotate(-135deg);
    width: 6.5rem; }
