// TODO Improve this so I don't need to define inbetween MQs
@warn 'Improve show-octaves so I do not need inbetween MQs';
@mixin show-octaves($octaves: 1) {
  $scale-x: map-get($keys, scale-x);
  $scale-y: map-get($keys, scale-y);

  $n: ($octaves * 12) + 1;
  $natural-height: 100vw;
  $number-of-keys: $octaves * 8 + (1 - $octaves);
  $sharp-height: $natural-height * $scale-y;

  .key {
    height: calc(#{$natural-height / $octaves} / 2);
    width: calc(100% / #{$number-of-keys});

    &:nth-child(#{$n}) {
      ~ .key,
      ~ .key-sharp {
        display: none;
      }
    }
  }

  .key-sharp {
    height: calc(#{$sharp-height / $octaves} / 2);
    margin: 0 calc(#{-$scale-x * 100%} / #{$number-of-keys * 2});
    width: calc(#{$scale-x * 100%} / #{$number-of-keys});
  }
}
