.module {
  font-family: $sans;
  padding: 0 .5em;
  > a {
    cursor: pointer;
    display: block;
    margin: 1em 0;
    text-decoration: none;
    &:focus {
      outline: 0;
      &::before {
        border-bottom-color: $gold;
      }
      h2 {
        color: $gold;
      }
    }
    &::before {
      @extend %arrow;
    }
  }
  h2 {
    cursor: pointer;
    display: inline-block;
    font-size: 2.2rem;
    font-weight: 100;
  }
  &::after {
    @extend %fake-hr;
  }
  &[data-state=open] {
    a::before {
      @include arrow();
    }
  }
  &[data-state=closed] {
    a::before {
      @include arrow(down);
    }
    div {
      display: none;
    }
  }
}
