$black: #1b1f1c;
$bright-green: #72f275;
$dark-green: #62cf65;
$dark-grey: #333a34;
$darker-green: #2f9c32;
$darker-grey: #2c322d;
$green: #89db8b;
$grey: #5e6b60;
$light-grey: #a3b8a4;
$white: #c0cec0;
