.module {
  $knob-size: 65;

  > h2 {
    margin: 2rem 1rem;// GLOBAL PADDING
    text-transform: uppercase;
  }

  @at-root {
    .knob-group {
      display: flex;
      flex-wrap: wrap;
      margin: 2rem 0;
    }

    .knob {
      display: flex;
      flex: 1 0 auto;
      font-family: $monospace;
      margin: 1rem 0;
      position: relative;
      width: 100%;
      @include media-query(360) {
        width: 50%;
      }
      @include media-query(720) {
        width: 25%;
      }
      @include media-query(1440) {
        width: 12.5%;
      }
    }
  }

  // INPUT TRACK (INVISIBLE)
  [type=range] {
    background: none;
    border-radius: 0;
    flex: 1;
    height: $knob-size * 0.1rem;
    position: relative;
    -webkit-appearance: none;
    &:focus {
      outline: none;
    }

    // THE LABEL IS THE KNOB
    + label {
      background-image: radial-gradient($black, $black),
                        linear-gradient($white 50%, $white 50%);
      background-size: 5px 20px, cover;
      background-position: top center;
      background-repeat: no-repeat, repeat;
      border: 5px solid $black;
      border-radius: 50%;
      color: $black;
      display: block;
      font-size: 0;
      height: $knob-size * 0.1rem;
      left: calc(50% - #{$knob-size/2 * 0.1rem});// MAKE FUNCTION
      pointer-events: none;
      position: absolute;
      right: calc(50% - #{$knob-size/2 * 0.1rem});// MAKE FUNCTION
      width: $knob-size * 0.1rem;
    }
    &:focus + label {
      background-image: radial-gradient($black, $black),
                        linear-gradient($green 50%, $green 50%);
    }
  }

  @mixin range-thumb() {
    box-sizing: content-box;
    cursor: pointer;
    height: $knob-size * 0.1rem;
    margin-top: 0;
    opacity: 0;// USE TO HIDE THE THUMB
    padding: 0 2.5rem;
    width: calc(50% - 3.25rem);// half the knob size
  }
  // THE KNOB (INVISIBLE)
  [type=range]::-webkit-slider-thumb {
    @include range-thumb();
    -webkit-appearance: none;
  }
  [type=range]::-moz-range-thumb {
    @include range-thumb();
  }
  [type=range]::-ms-thumb {
    @include range-thumb();
  }

  [type=range][min="0"] + label {
    transform: rotate(-135deg);
  }
}

.knob::before {
  @include panel-label;
}

[type=range]::-moz-range-track {
  height: 0;
}

[data-visible] .module {
  display: none;
}

[data-visible=edit] .module {
  display: block;
}

// KNOB GROUPINGS
// TODO inside knob-group, the first div would be fine
.lfo1-rate {
  width: 100%;
}





// CONSENT PROMPT
.consent-prompt {
  align-items: center;
  background: transparentize($black, 0.1);
  bottom: 0;
  display: none;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;

  .consent-message {
    background: $dark-grey;
    flex: 1;
  }

  button {
    background: $light-grey;
    border: 0;
    display: block;
    font-size: 2rem;
    font-family: $monospace;
    margin: 0 auto;
    min-height: 6.5rem;
    text-transform: uppercase;
    width: calc(100% - 4rem);
  }
}


// REWORKING THE HEADER
header {
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;

  > h1 {
    padding: 1rem;
  }
}

nav {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  margin-left: 2rem;

  > button {
    background: none;
    border: 0;
    border-left: 1px solid $light-grey;
    color: $light-grey;
    flex: 1;
    max-width: 100px;
    text-transform: uppercase;
  }
}













// CONFIG
[data-visible] .config {
  display: none;
}

[data-visible=config] .config {
  display: block;
}
































// JUST RESETTING THIS SO I CAN FOCUS ON THE HEADER
$focus-on-header: false;
@if $focus-on-header == true {
  html,
  body {
    background: #ccc;

    main {
      display: none;
    }
  }
}

.program {
  margin-top: 5rem;
}
