// BODY
html {
  font-family: $monospace;
}

// EXPERIMENT
.module {
  $knob-size: 65;

  > h2 {
    margin: 2rem;
    text-transform: uppercase;
  }

  @at-root {
    .knob-group {
      display: flex;
      flex-wrap: wrap;
      margin: 2rem 0;
    }

    .knob {
      display: flex;
      flex: 1 0 auto;
      position: relative;
    }
  }

  // INPUT TRACK (INVISIBLE)
  input[type=range] {
    background: none;
    border-radius: 0;
    flex: 1;
    height: $knob-size * 0.1rem;
    position: relative;
    -webkit-appearance: none;

    // THE LABEL IS THE KNOB
    + label {
      background: radial-gradient(#000, #000),
                  linear-gradient(#fff 50%, #fff 50%);
      background-size: 5px 20px, cover;
      background-position: top center;
      background-repeat: no-repeat, repeat;
      border: 5px solid #000;
      border-radius: 50%;
      color: #000;
      display: block;
      font-size: 0;
      height: $knob-size * 0.1rem;
      left: calc(50% - #{$knob-size/2 * 0.1rem});// MAKE FUNCTION
      pointer-events: none;
      position: absolute;
      right: calc(50% - #{$knob-size/2 * 0.1rem});// MAKE FUNCTION
      transform: rotate(-135deg);
      width: $knob-size * 0.1rem;
    }
  }

  // THE KNOB (INVISIBLE)
  input[type=range]::-webkit-slider-thumb {
    box-sizing: content-box;
    cursor: pointer;
    height: $knob-size * 0.1rem;
    margin-top: 0;
    opacity: 0;
    padding: 0 2.5rem;
    width: $knob-size * 0.1rem;
    -webkit-appearance: none;
  }
}
