// "MODULES" that are components
.module {
  margin: 2rem;

  label {
    display: block;
    width: 100%;

    input {
      width: 100%;
    }
  }
}


// EXPERIMENT
#harmonic-oscillator {
  $knob-size: 65;

  margin: 8rem 2rem;

  .knob-group {
    display: flex;
    flex-wrap: wrap;
    max-width: 320px;
  }

  .knob {
    display: flex;
    flex: 1 0 auto;
    position: relative;
  }

  // SIMPLE VERSION OF THE TRACK
  input[type=range] {
    background: none;
    border-radius: 0;
    flex: 1;
    height: $knob-size * 0.1rem;
    position: relative;
    -webkit-appearance: none;
  }

  // THE KNOB
  input[type=range]::-webkit-slider-thumb {
    background: #fff;
    opacity: 0.4;
    cursor: pointer;
    height: $knob-size * 0.1rem;
    margin-top: 0;
    width: $knob-size * 0.1rem;
    -webkit-appearance: none;
    // EXPERIMENTS TO MAKE LARGER CLICKABLE AREA
    box-sizing: content-box;
    padding: 0 2.5rem;
  }

  // LABEL
  label {
    background: radial-gradient(#000, #000),
                linear-gradient(#fff 50%, #fff 50%);
    background-size: 5px 20px, cover;
    background-position: top center;
    background-repeat: no-repeat, repeat;
    border: 5px solid #000;
    border-radius: 50%;
    color: #000;
    display: block;
    font-size: 0;
    height: $knob-size * 0.1rem;
    pointer-events: none;
    position: absolute;
    transform: rotate(-135deg);
    width: $knob-size * 0.1rem;
    // EXPERIMENTAL POSITIONING
    left: calc(50% - #{$knob-size/2 * 0.1rem});
    right: calc(50% - #{$knob-size/2 * 0.1rem});
  }














  // THE ROTATING KNOB
  // label {
  //   background: radial-gradient(#000, #000),
  //               linear-gradient(#fff 50%, #fff 50%);
  //   background-size: 5px 20px, cover;
  //   background-position: top center;
  //   background-repeat: no-repeat, repeat;
  //   border: 5px solid #000;
  //   border-radius: 50%;
  //   color: #000;
  //   display: block;
  //   font-size: 0;
  //   height: $knob-size * 0.1rem;
  //   margin-top: -$knob-size * 0.1rem;
  //   pointer-events: none;
  //   transform: rotate(-135deg);
  //   width: $knob-size * 0.1rem;
  // }
}
