//TODO Use classes?
header {

  > h1 {
    color: $white;
    font-size: 4rem;
    font-weight: 100;
    letter-spacing: .6rem;
    text-transform: uppercase;

    > span {
      display: block;
      font-size: .77777777776rem;
      font-weight: 400;
      letter-spacing: normal;
      margin-left: .3rem;
      text-transform: lowercase;
    }

  }

  &::after {
    @extend %fake-hr;
  }

}
