header {

  h1 {
    //TODO make variable
    color: darken($black, 10%);
    font-family: $bodoni;
    font-size: 4rem;
    font-weight: 900;
    font-weight: 600;
    text-transform: uppercase;
  }

}
