.octave-shift {
  font-size: 0;
  margin: 2rem 0;
  width: 17rem;
}

[data-light] {
  display: inline-block;
  font-size: 1.2rem;
  margin: em(10 0, 12);
  text-align: center;
  &::before {
    border-radius: em(12, 12);
    content: '';
    display: block;
    height: em(12, 12);
    margin: em(12 11, 12);
    width: em(12, 12);
  }
}

[data-light=on]::before {
  background: radial-gradient($gold, #f60);//TODO FINE TUNE
}

[data-light=off]::before {
  background: radial-gradient(#f60, darken($gold, 50%));//TODO FINE TUNE
}

.shift-octave {
  @extend %push-button;
  &:first-of-type {
    margin-right: em(5, 16);
  }
  &:last-of-type {
    margin-left: em(5, 16);
  }
}
