*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  background: linear-gradient($black, #000);
  box-sizing: border-box;
  color: $off-white;
  font: 62.5%/1 $sans;//TODO Is this an advantage over 10px?
}

body {
  background: $dark-grey;
  margin: 0 auto;
}
