%heading {
  font-weight: normal;
  position: relative;
}

h1 {
  @extend %heading;
}

h2 {
  @extend %heading;
  padding-left: 32px;
}

h3 {
  @extend %heading;
}

h4 {
  @extend %heading;
}

h5 {
  @extend %heading;
}

h6 {
  @extend %heading;
}
