*,
*::before,
*::after {
  box-sizing: inherit;
  cursor: default;
  margin: 0;
  padding: 0; }

html {
  background: linear-gradient(#0b0c0b, #000);
  box-sizing: border-box;
  color: #babcbb;
  font: 62.5%/1 proxima-nova, helvetica, arial, sans-serif; }

body {
  background: #1a1c1b;
  margin: 0 auto;
  padding: 0 0 2em; }

header {
  padding: 0.925em 0.5em; }
  header h1 {
    color: #d6d7d7;
    font-size: 4rem;
    font-weight: 100;
    letter-spacing: .125em;
    text-transform: uppercase; }
    header h1 span {
      font-size: .3em;
      font-weight: 400;
      letter-spacing: .125em;
      text-transform: lowercase;
      white-space: nowrap; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #949796;
  font-weight: normal; }

input {
  outline: none; }

button {
  background: initial;
  border: 0;
  cursor: pointer;
  font-family: inherit;
  outline: none; }

footer {
  color: #353837;
  font-size: 1.2rem;
  margin: 1.66667em 0.41667em 0; }

.module::after {
  background: radial-gradient(#0b0c0b, rgba(26, 28, 27, 0)) no-repeat;
  content: '';
  display: block;
  height: .1em; }

.octave-shift {
  font-size: 1.6rem;
  border-radius: 0.375em;
  height: 2.5em;
  width: 5em;
  background: linear-gradient(#353837, #292b2a);
  box-shadow: 0 0.2em 1em -0.3em #000;
  color: #babcbb;
  display: inline-block;
  text-transform: uppercase; }
  .octave-shift:focus {
    color: #f8eb81; }
  .octave-shift:active {
    color: #f2db21;
    text-shadow: 0 0 3px #f60; }

.key, .sharp-key {
  border: none;
  float: left;
  font-size: 1.4rem;
  height: 5.28571428571em;
  width: 2.85714285714em;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none; }
  .key:focus, .sharp-key:focus {
    outline: none; }

.key {
  background: #babcbb;
  color: #949796; }

.sharp-key {
  background: #0b0c0b;
  color: #353837; }

#oscilloscope canvas {
  background: #949796;
  box-shadow: inset 0 0.3em 2em -0.2em #1a1c1b; }

#keyboard:after {
  content: '';
  clear: left;
  display: block; }

.module > a::before {
  border: 1em solid transparent;
  border-bottom-color: #949796;
  content: '';
  display: inline-block;
  margin-right: .7em;
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  -webkit-transform-origin: 50% 1.35em;
  transform-origin: 50% 1.35em; }

.module {
  font-family: proxima-nova, helvetica, arial, sans-serif;
  padding: 0 0.5em; }
  .module > a {
    cursor: pointer;
    display: block;
    margin: 1em 0; }
  .module h2 {
    cursor: pointer;
    display: inline-block;
    font-size: 2.2rem;
    font-weight: 100; }
  .module[data-state=open] a::before {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  .module[data-state=closed] a::before {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  .module[data-state=closed] div {
    display: none; }

label {
  color: #353837;
  display: block;
  margin: 1em auto; }
  label span {
    display: none; }
  label input {
    width: 100%; }

input[type=range] {
  max-width: 80%; }

input[type=radio] {
  position: absolute;
  z-index: -1; }
  input[type=radio] + label {
    background: linear-gradient(#949796, #babcbb);
    cursor: pointer;
    float: left;
    line-height: 3;
    margin: 2em 0;
    text-align: center;
    text-transform: uppercase;
    width: 25%; }
    input[type=radio] + label:first-of-type {
      border-radius: 0.54054em 0 0 0.54054em; }
    input[type=radio] + label:nth-of-type(4) {
      border-radius: 0 0.54054em 0.54054em 0; }
  input[type=radio]:focus + label,
  input[type=radio]:checked + label {
    background: linear-gradient(#353837, #292b2a);
    box-shadow: 0 0.2em 1em -0.3em #000;
    color: #babcbb; }

#performance {
  margin: 2em 0; }
  #performance h2 {
    font-size: 1.8rem;
    font-weight: 100;
    margin: 1em 0; }
  #performance span {
    display: inline-block;
    font-size: 1.2rem;
    margin: 1.5em 1.2em 1em;
    position: relative;
    text-align: center;
    width: 1em; }
    #performance span:before {
      background: radial-gradient(#f2db21, #f60);
      border-radius: 1em;
      content: '';
      height: 1em;
      left: 0;
      position: absolute;
      top: -2em;
      width: 1em; }
    #performance span:first-of-type {
      margin-left: .5em; }
    #performance span:last-of-type {
      margin-right: .5em; }

img {
  cursor: pointer;
  display: inline-block;
  margin: 2rem;
  transform-origin: center;
  width: 8rem;
  -webkit-user-drag: none;
  user-drag: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none; }
