header {
  $heading-size: 30;

  background: $black;

  > h1 {
    font-size: $heading-size * 0.1rem;
    font-weight: 300;
    letter-spacing: (7/$heading-size) * 0.1em;
    text-transform: uppercase;

    > span {
      font-size: 1.2rem;
      font-weight: 500;
      letter-spacing: normal;
      text-transform: lowercase;
    }
  }
}
