%key {
  border: none;
  display: inline-block;
  font-family: $sans;
  font-size: .8rem;
  height: 4rem;
  width: 2rem;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
}

.key {
  @extend %key;
  background: $off-white;
  color: $light-grey;
}

.sharp-key {
  @extend %key;
  background: $black;
  color: $grey;
}
