%key {
  border: none;
  float: left;
  font-size: 1.4rem;
  height: 5.28571428571em;// 74/14
  width: 2.85714285714em;// 40/14
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
}

.key {
  @extend %key;
  background: $off-white;
  color: $light-grey;
}

.sharp-key {
  @extend %key;
  background: $black;
  color: $grey;
}
