%key {
  border: none;
  float: left;
  font-size: 1.4rem;
  height: em(74, 14);
  width: em(40, 14);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  &:focus {
    outline: none;
  }
}

.key {
  @extend %key;
  background: $off-white;
  color: $light-grey;
}

.sharp-key {
  @extend %key;
  background: $black;
  color: $grey;
}
