%module {
  font-family: $sans;
  &[data-state=open] {
    &::before {
      @include arrow();
    }
    * {
      transition: opacity .3s;
    }
  }
  &[data-state=closed] {
    &::before {
      @include arrow(down);
    }
    h2 {
      display: inline-block;
    }
    * {
      display: none;
    }
  }
}
