%module {
  font-family: $sans;
  h2 {
    cursor: pointer;
    font-weight: 100;
  }
  &::after {
    @extend %fake-hr;
  }
  &[data-state=open] {
    .toggle {
      @include arrow();
    }
  }
  &[data-state=closed] {
    .toggle {
      @include arrow(down);
    }
    h2 {
      display: inline-block;
    }
    * {
      display: none;
    }
  }
}
