%module {
  &[data-state] {
    font-family: $sans;
    > a {
      display: block;
    }
    h2 {
      cursor: pointer;
      font-weight: 100;
    }
    &::after {
      @extend %fake-hr;
    }
  }
  &[data-state=open] {
    a::before {
      @include arrow();
    }
  }
  &[data-state=closed] {
    a::before {
        @include arrow(down);
    }
    h2 {
      display: inline-block;
    }
    * {
      display: none;
    }
  }
}
