%push-button {
  background: linear-gradient($grey, darken($grey, 5%));
  border-radius: em(6, 16);
  box-shadow: 0 .2em 1em -.3em #000;
  color: $off-white;
  float: left;
  font-size: 1.6rem;
  height: em(40, 16);
  text-transform: uppercase;
  width: em(80, 16);
  &:focus {
    color: lighten($gold, 20%);
  }
  &:active {
    color: $gold;
    text-shadow: 0 0 em(3, 16) #f60;//TODO Fine tune this color
  }
}
