%push-button {
  $font-size: 16;
  @include rem-font($font-size);
  @include em(border-radius, 6, $font-size);
  @include em(height, 40, $font-size);
  @include em(width, 80, $font-size);
  background: linear-gradient($grey, darken($grey, 5%));
  box-shadow: 0 .2em 1em -.3em #000;//TODO ADD TO EM MIXIN
  color: $off-white;
  display: inline-block;
  text-transform: uppercase;
  &:focus {
    color: lighten($gold, 20%);
  }
  &:active {
    color: $gold;
    text-shadow: 0 0 3px #f60;//TODO ADD TO EM MIXIN
  }
}

// Does this belong here?
.octave-shift {
  @extend %push-button;
}
