fieldset {
  border: 0;
  input[type=radio] {
    $border-radius: .5em;
    &:first-of-type {
      + label {
        border-radius: $border-radius 0 0 $border-radius;
      }
    }
    &:last-of-type {
      + label {
        border-radius: 0 $border-radius $border-radius 0;
      }
    }
  }
}

legend {
  color: $light-grey;
  font-size: 1.8rem;
  font-weight: 100;
  margin-bottom: -25px;
  padding: .2em 0 .5em;
  width: 100%;
}

input[type=radio] {
  // Hide default UI
  position: absolute;
  width: 0;
  z-index: -1;
  + label {
    background: linear-gradient($light-grey, $off-white);
    cursor: pointer;
    float: left;
    line-height: 3;
    margin: 2em 0;
    text-align: center;
    text-transform: uppercase;
    width: 25%;
  }
  &:focus,
  &:checked {
    + label {
      background: linear-gradient($grey, darken($grey, 5%));
      box-shadow: 0 .2em 1em -.3em #000;
      color: $off-white;
    }
  }
  &:focus {
    + label {
      background: linear-gradient(lighten($grey, 10%), $grey);
    }
  }
}
