@mixin arrow($dir: up, $size: 6, $color: inherit) {
  border: ($size / 10) + rem solid transparent;
  border-bottom-color: $color;
  content: '';
  display: inline-block;
  position: absolute;
  -webkit-transition: -webkit-transform .2s;
  transition: transform .2s;
  -webkit-transform-origin: 50% 15px;
  transform-origin: 50% 15px;
  @if $dir == up {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  } @else if $dir == down {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  } @else {
    @error 'Invalid direction: use \'up\' or \'down\' instead of \'#{$dir}\'';
  }
}
