input {
  font-family: $monospace;
}


// RADIO BUTTON -- AKA SWITCH
[type=radio] {
  display: none;

  + label {
    background: #06f;
    color: #fff;
    flex: 1 1 auto;
    padding: 2rem 0;
    text-align: center;
    text-transform: uppercase;
  }
}
