input {
  font-family: $monospace;
}


// RADIO BUTTON -- AKA SWITCH
[type=radio] {
  position: absolute;
  width: 0;
  z-index: -1;

  + label {
    color: $black;
    flex: 1 1 auto;
    padding: 2rem 0;
    position: relative;
    text-align: center;
    text-transform: uppercase;

    &::before {
      background: rgba(0, 0, 0, 0.25);
      content: '';
      display: block;
      height: 100%;
      pointer-events: none;
      position: absolute;
      transition: transform 200ms;
      transform: scaleY(0);
      transform-origin: top;
      top: 0;
      width: 100%;
    }

    &::after {
      border-bottom: 0.5rem solid $green;
      bottom: 0;
      content: '';
      left: 0;
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &:focus + label::after {
    opacity: 1;
  }

  &:checked + label::before {
    transform: scaleY(1);
  }
}
