%arrow {
  border: 1em solid transparent;
  border-bottom-color: $light-grey;
  content: '';
  display: inline-block;
  margin-right: .7em;
  -webkit-transition: -webkit-transform .2s;
  transition: transform .2s;
  -webkit-transform-origin: 50% 1.35em;
  transform-origin: 50% 1.35em;
}

@mixin arrow($dir: up) {
  @if $dir == up {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  } @else if $dir == down {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  } @else {
    @error 'Invalid direction: use \'up\' or \'down\' instead of \'#{$dir}\'';
  }
}

.module {
  font-family: $sans;
  padding: 0 .5em;
  > a {
    cursor: pointer;
    display: block;
    margin: 1em 0;
    &::before {
      @extend %arrow;
    }
  }
  h2 {
    cursor: pointer;
    display: inline-block;
    font-size: 2.2rem;
    font-weight: 100;
  }
  &::after {
    @extend %fake-hr;
  }
  &[data-state=open] {
    a::before {
      @include arrow();
    }
  }
  &[data-state=closed] {
    a::before {
      @include arrow(down);
    }
    div {
      display: none;
    }
  }
}

// SLIDERS
label {
  color: $grey;
  display: block;
  margin: 1em auto;
  span {
    border: .25em double $grey;
    border-radius: 2.5em;
    display: inline-block;
    font-size: 1.2rem;
    height: 2.5em;
    line-height: 2;
    margin-right: 1.25em;
    text-align: center;
    width: 2.5em;
  }
  input {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
  }
}

input[type=range] {
  max-width: 80%;
}

// RADIO BUTTONS
input[type=radio] {
  $border-radius: .54054054054em;
  position: absolute;
  z-index: -1;// Not a very good way to do this
  + label {
    background: linear-gradient($light-grey, $off-white);
    cursor: pointer;
    float: left;
    line-height: 3;
    margin: 2em 0;
    text-align: center;
    text-transform: uppercase;
    width: 25%;
    &:first-of-type {
      border-radius: $border-radius 0 0 $border-radius;
    }
    &:nth-of-type(4) {
      border-radius: 0 $border-radius $border-radius 0;
    }
  }
  &:focus,
  &:checked {
    + label {
      background: linear-gradient($grey, darken($grey, 5%));
      box-shadow: 0 .2em 1em -.3em #000;
      color: $off-white;
    }
  }
}

// PERFORMANCE
#performance {
  margin: 2em 0;
  h2 {
    font-size: 1.8rem;
    font-weight: 100;
    margin: 1em 0;
  }
  // OCTAVE SHIFT LIGHTS
  span {
    display: inline-block;
    font-size: 1.2rem;
    margin: 1.5em 1.2em 1em;
    position: relative;
    text-align: center;
    width: 1em;
    &:before {
      background: radial-gradient($gold, #f60);
      border-radius: 1em;
      content: '';
      height: 1em;
      left: 0;
      position: absolute;
      top: -2em;
      width: 1em;
    }
    &:first-of-type {
      margin-left: .5em;
    }
    &:last-of-type {
      margin-right: .5em;
    }
  }
}

// SVG TEST
img {
  cursor: pointer;
  display: inline-block;
  margin: 2rem;
//  transform: rotate(135deg);// FULL CCW = -135deg
  transform-origin: center;
  width: 8rem;
  -webkit-user-drag: none;
  user-drag: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
