// Sliders
label {
  display: block;
  height: 2rem;
  margin: 1rem auto;
  span {
    border: 3px double $black;
    border-radius: 2rem;
    display: inline-block;
    font-size: .8rem;
    height: 1.6rem;
    line-height: 1.5;
    margin: 0 .5rem 0 0;
    text-align: center;
    width: 1.6rem;
  }
  input {
    display: inline-block;
    max-width: 80%;
    vertical-align: middle;
    width: 100%;
  }
}


// Footer
footer {
  font-family: $sans;
  font-size: .6rem;
  margin: 2rem auto 1rem;
}
